# Development mode PHP settings
display_errors=On
display_startup_errors=On
log_errors=On
error_log=syslog
error_reporting=E_ALL
max_input_time=60
output_buffering=4096
register_argc_argv=Off
request_order="GP"
session.gc_divisor=1000
session.sid_bits_per_character=5
short_open_tag=Off
variables_order="GPCS"
